<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="shopping_list_title">Shopping Lists</h1>

  <h3>Drag and drop to sort</h3>

  <div class="row col-md-6 col-md-offset-2 custyle">

    <ul class="sortable">
      <% @shopping_lists.each do |shopping_list| %>

        <%= content_tag_for :li, shopping_list do %>
          <p><%= shopping_list.title %> | <%= shopping_list.description %> | <%= link_to 'Show', shopping_list %> | <%= link_to 'Edit', edit_shopping_list_path(shopping_list) %> | <%= link_to 'Destroy', shopping_list, method: :delete, data: { confirm: 'Are you sure?' } %></p>

          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="links">
  <%= link_to 'New Shopping List', new_shopping_list_path %>
  </div>
</div>
<br>
<script src='jquery.sortable.js'></script>
<script>
    $('.sortable').sortable();
</script>

